.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;


    button{
        color:rgb(240, 211, 159);
        margin: auto;
    }
}
